{% extends 'shared/layout.html' %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block maincontent %}
<div class="container" style="margin-top: 60px;" id="centralDivLanding">
  <div class="heading1"><br><br><br><br>
    <h2><center>Login to Your Account</center></h2>
    <br>

    <!-- Display flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert alert-{{ messages[0][0] }}" role="alert">
                {% for category, message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <!-- Login Form -->
    <form id="login-form" action="{{ url_for('login') }}" method="POST" autocomplete="on">
      {{ form.hidden_tag() }}  <!-- CSRF token -->
    
      <div class="form-group">
        <label for="username">Username</label>
        <input name="username" type="text" id="username" class="form-control" placeholder="Enter Username" required autocomplete="username">
      </div>
      <br>
    
      <div class="form-group">
        <label for="password">Password</label>
        <input name="password" type="password" id="password" class="form-control" placeholder="Enter Password" required autocomplete="current-password">
      </div>
      <br>
    
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="rememberMe" name="remember" autocomplete="off">
        <label class="form-check-label" for="rememberMe">
            Remember Me
        </label>
      </div>
      <br>
    
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
    
    

    <!-- Link to Sign Up page -->
    <p id="Signup_text" class="form-text">Don't have an account? Click <a href="{{ url_for('signup') }}">here</a> to sign up.</p>
  </div>
</div>

<!-- Loader for async actions -->
<div class="d-none" id="loaderLanding">
  <div class="spinner-border" role="status">
    <span class="sr-only"></span>
  </div>
</div>
{% endblock %}
